{{> head }}
{{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>TITULO BONITO</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, alias aut saepe quae repellendus sapiente itaque assumenda id. Quos aliquid deserunt autem, temporibus sequi perspiciatis nulla est repellendus illo dolores.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/consumidor.jpg" class="img-thumbnail">
        </div>
    </div>
    
{{> footer}}
    